@use "./abstract" as *;
@use "./base" as *;
@use "./layout" as *;
@use "./component" as *;

body {
  height: 100vh;
  background-color: $clr-neutral-100;
  font-family: $ff-body;
}

.card {
  width: clamp(300px, 50%, 90%);
  flex-shrink: 0;
}
