$clr-white: #ffffffff;

$clr-accent: hsl(71, 73%, 54%);

$clr-primary-300: rgba(74, 190, 189, 1);
$clr-primary-400: hsl(179, 62%, 43%);

$clr-neutral-100: hsl(204, 43%, 93%);
$clr-neutral-400: hsl(218, 22%, 67%);
