@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

$ff-body: "Karla", sans-serif;

$fs-100: 0.8125rem;
$fs-300: 0.875rem;
$fs-400: 0.9375rem;
$fs-500: 1rem;
$fs-600: 1.0625rem;
$fs-700: 1.125rem;
$fs-800: 1.1875rem;
$fs-900: 1.25rem;
$fs-special: 1.875rem;

$fw-regular: 400;
$fw-bold: 700;
